
.home {
    
    overflow-y: hidden;
    background-color: #000;
width: 100%
}
 .home .contenido-banner{
    padding: 30px;
    
    /* background-color: #0DC691; */
    /* max-width: 350px; */
    margin-top: 200px;
    /* margin: auto; */
    text-align: center;
    /* border-radius: 40px;   */
 
} 

.icons-container {
    position: fixed;
    bottom: 0px;
}
.icons-container .icons{
    list-style-type: none;
}

.icons-container .icons li {
    margin 5px 0px;
    
}

.icons-container .icons::after {
    content: "";
    display: block;
    width: 1px;
    height: 70px;
    margin-top:10px;
    margin-left:7px;
    background-color: grey;
}
main {
    margin-top: 40px;
/* margin-left: 30vw; */
    color: #1d0d38;

}


@media only screen and (max-width:768px){
    .icons-container .icons::after {
        display: none;
    }
}

